#nanny-share-family-section {}
    #nanny-share-family-section div {
        margin: 1em 0;
    }
    #nanny-share-family-section label {
        width: 200px;
        clear: right;
    }
    #nanny-share-family-section input[type="text"] {
        padding: 3px 8px;
        line-height: 100%;
        width: 100%;
        outline: 0;
        font-family: Consolas,Monaco,monospace;
    }
    #nanny-share-family-section select {
        padding: 2px;
        height: 2em;        
    }
    #nanny-share-family-section input[type="radio"], #nanny-share-family-section input[type="checkbox"] {
        margin-right: 5px;
    }
    #nanny-share-family-section label.radio, #nanny-share-family-section label.checkbox {
        margin-right: 20px;
    }
    .day-input {
        overflow: auto;
    }
        .day-input div {
            clear: both;
            overflow: auto;
            margin: 0px !important;
            display: none;
        }
            .day-input div.select-day-message {
                display: block;
            }
        .day-input label {
            padding-top: 4px;
            float: left;
            width: 100px !important;
        }
        .day-input input[type="text"] {
            width: 400px !important;
            float: left;
        }

#job-vacancy-section {}
    #job-vacancy-section .top {}
        #job-vacancy-section .top .left {
            float: left;
            width: 48%;
            margin-right: 1%;
        }
        #job-vacancy-section .top .right {
            float: left;
            width: 48%;
            margin-left: 1%;
        }

    #job-vacancy-section .bottom {
        clear: both;
    }

    #job-vacancy-section input[type="text"] {
        width: 100%;
    }
    #job-vacancy-section textarea {
        width: 100%;
        height: 70px;
    }

    #job-vacancy-section input[type="radio"] {
        margin-right: 5px;
    }
    #job-vacancy-section label.radio {
        margin-right: 20px;
    }

